@mixin headings {
	color: #483d8b;
	padding: 0.5em 1em;

	svg {
		fill: #483d8b;
		margin-bottom: -6px;
	}
}
@mixin button-pressed {
	color: #fff;
	background-color: #483d8b;
	border: 1px solid #fff;
}

button[aria-label="A11y Checker"] {
	color: #483d8b;

	&.is-pressed {
		@include button-pressed();
	}
}

.ally-check-panel {
	color: #1b1b1b;

	h2, h3 {
		@include headings();

		button {
			@include headings();
			background-color: #f0f0f0;
		}
	}

	.components-panel__row {
		flex-direction: column;
		align-items: flex-start;

		&.a11y-found-show,
		&.a11y-heading-order {
			button {
				color: #483d8b;
				border: 1px solid #483d8b;
				margin-bottom: 1.5em;
				align-self: center;

				&[aria-pressed="true"] {
					@include button-pressed();
				}
			}
		}
	}

	.components-checkbox-control {
		.components-base-control__field:has(
			.components-checkbox-control__input[type=checkbox]:checked,
		.components-checkbox-control__input[type=checkbox]:indeterminate
		) {
			text-decoration:line-through;
		}

		.components-checkbox-control__input[type=checkbox]:checked,
		.components-checkbox-control__input[type=checkbox]:indeterminate {
			background: #483d8b;
			background-color: #483d8b;
			border: 1px solid #483d8b;

			&::after {
				content: '\2713';
				color: #fff;
			}
		}
	}
}
